 <div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="v=babysitter_form">
        <h1>Edit <%= @babysitter.first_name %></h1>
        <div class="mt-3">
          <%= render "edit_form", babysitter: @babysitter %>
        </div>
      </div>
    </div>
  </div>
</div>
