.container_map_cards {
  display: flex;
}

#map {
  position: sticky;
}

.card_items_index {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transform: rotate(0); // added to make this container the stretch-link instead of the container (solved the issues to make the whole card clickeable as a link)

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  .card_content {
    margin-left: auto;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-chat-infos {
    padding: 16px;
  }

    &:hover {
      background-color: #fff9d6;
      transition: 0.4s;
    }

  a {
    text-decoration: none;
    color: #ff8247;
  }

  .avatar-img {
    height: 7vh;
    width: 7vh;
  }

  .avatar-container {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  .btn_details {
    background-color: #e6f3ff;
    color: black;
  }
  .btn_details:hover {
    background-color: #ADD8FF;
  }
  .btn_reserve {
    background-color: #C8FACD;
    color: black;
  }
  .btn_reserve:hover {
    background-color: #8ff599;
    color: black;
  }
}

.container_btn_below_map {
  margin-top: 35px;
}
.btn_below_map {
  background-color: #ff8247;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 10px;
}
.btn_below_map:hover {
  background-color: #ffb999;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 10px;
}
