<footer id="site__footer" class="footer">

    <section class="footer__top">
      <div class="footer__inner">
        <p class="text-top-footer"> Because raising a child takes a village - join us today</p>
        <h2 class="section__title"><a href="https://www.parentskiez.mom">ParentsKiez</a></h2>
      </div>
    </section>
    <section>
        <ul class="footer__socialList">
          <li><a href="#" class="link-footer"><i class="fa-brands fa-facebook"></a></i></li>
          <li><a href="#" class="link-footer"><i class="fa-brands fa-twitter"></a></i></li>
          <li><a href="#" class="link-footer"><i class="fa-brands fa-youtube"></a></i></li>
          <li><a href="#" class="link-footer"><i class="fa-brands fa-pinterest"></a></i></li>
        </ul>
    </section>
</footer>
