<div class="">
  <div class="row">
    <h1 class="text-center item-heading-index pt-3">Events for you and your little ones near you</h1>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render "search_bar" %>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-6">
        <%= render "events_cards" %>
      </div>
      <div class="col-6" style="position: sticky;">
        <div>
          <%= render "map" %>
        </div>
        <div class="text-center container_btn_below_map">
          <strong><%= link_to "Post your event", new_event_path, class:"btn btn_below_map" %></strong>
        </div>
      </div>
    </div>
  </div>
</div>
