<div class="container">

    <div class="maintxt m-2" style="background-image: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 12%)), url(https://res.cloudinary.com/dgtys3cw2/image/upload/v1680712038/jiytcvpbi3agsombbixi.jpg)">>
      <div class="text-block">
        <h2>every thing you need for your children </h2>
      </div>
  </div>


  <div class= "container-home">
    <div class="card-home1  card m-5">
      <h3 class="home-text">Find a Babysitter: Easily apply to or find a trustworthy babysitter in your area and communicate directly through the app to schedule a date.</h3>
    </div>

    <div class="card-home2 card m-5">
      <h3 class="home-text">Parent Marketplace: Give away or take items for your children in our parent marketplace and contribute to a more sustainable future..</h3>
    </div>

    <div class="card-home3 card m-5">
      <h3 class="home-text">Discover Fun Activities: Explore a list of exciting places and activities for children and make the most of your time with your little ones.</h3>
    </div>

  </div>

</div>
