<div class="home-container">

<div class="maintxt">
  <div class="text-block">
    <h2>Everything you need for your children </h2>
 </div>
</div>

    <div class="card-home1 box">
      <i></i>
      <br><h4>Babysitters</h4> <p><br> Find a trustworthy babysitter in your area or offer your services<p>
    </div>

    <div class="card-home2 box">
       <i></i>
       <br><h4>Marketplace</h4> <p><br> Save money helping your community and environment by donating and acquiring items for free</p>
    </div>

    <div class="card-home3 box">
      <i></i>
      <br><h4>Event & Activities</h4><p><br> Discover exciting activities for your little ones in your neighborhood</p>
    </div>
</div>
