
<div class=card>
  <h3>Find a Babysitter: Easily apply to or find a trustworthy babysitter in your area and communicate directly through the app to schedule a date.</h3>
</div>

<div class=card>
  <h3>Parent Marketplace: Give away or take items for your children in our parent marketplace and contribute to a more sustainable future..</h3>
</div>

<div class=card>
  <h3>Discover Fun Activities: Explore a list of exciting places and activities for children and make the most of your time with your little ones.</h3>
</div>

<button class="btn btn-primary"><%= link_to "apply as a babysitter", new_babysitter_path, class: 'text-white'%></button>
