
<div class="">
  <div class="row">
    <div class="col-12">
      <%= render "search_bar" %>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-6">
        <%= render "items_cards" %>
      </div>
      <div class="col-6" style="position: sticky;">
        <div>
          <%= render "map" %>
        </div>
        <div class="text-center m-5">
          <strong><%= link_to "Post your item", new_item_path, class:"custom-btn-item-index m-3" %></strong>
        </div>
      </div>
    </div>
  </div>
</div>
