<h1 class="text-center item-heading-index pt-3 pb-3">Give your old or used baby's item to the community!</h1>
<%= render "form", item: @item %>
<div class="text-center mb-3 mt-3">
  <%= link_to "Back to Items", items_path, class: 'btn btn-secondary rounded-pill px-4 fw-bold' %>
</div>
