
#index-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  #apply-btn {
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #ffffff;
    border:#332e2e;
    padding: 16px 32px;
    text-align:start;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;

    &:hover {
     opacity: 1
     }
     #apply-a{
      text-decoration: none;
      color: #131010;
      font-size: 1.5rem;
      font-weight: bold;
     }
   }

}


#index-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;

  .card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    border: 5px solid #0d6efd3b;
  }

  .card-body {
    padding: 15px;
    background-color: rgb(240, 246, 251);


    .card_title {
      font-size: 1.5rem;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .card-text {
      font-size: 1.2rem;
      margin-bottom: 5px;
      font-weight: 500;
    }

    .card-meta {
      font-size: 1.2rem;
      color: #000000;
      font-weight: 500;
    }

    #babysitter-btn {
    margin-top: 10px;
    background-color:rgb(252, 137, 91);
    border: none;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;

    margin-top: 50px;
    border-radius: 5px;
    opacity: 0.8;

    &:hover {
     opacity: 1
     }
     #a-btn{
      text-decoration: none;
      color: #131010;
      font-size: 1rem;
      font-weight: bold;
      margin-top: 30px;
     }
   }

  }
}

.card-chat {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transform: rotate(0); // added to make this container the stretch-link instead of the container (solved the issues to make the whole card clickeable as a link)

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-chat-infos {
    padding: 16px;
  }

    &:hover {
      background-color: #fff9d6;
      transition: 0.4s;
    }

  a {
    text-decoration: none;
    color: #ff8247;
  }
}
