.container-home{
  display: flex;
  justify-content: space-between;

  .card-home1{
    background-color:rgb(250, 137, 88);
    border-radius: 10px;
    color: aliceblue;
    margin: 3px;

    .home-text{
      font-weight: bold;
      font-size: 25px;
      margin: 8px;
    }
  }
  .card-home2{
    background-color: rgb(129, 217, 249);
    border-radius: 10px;
    color: aliceblue;
    .home-text{
      font-weight: bold;
      font-size: 25px;
      margin: 8px;
    }
  }
  .card-home3{
    background-color: rgb(196, 210, 15);
    border-radius: 10px;
    color: aliceblue;
    .home-text{
      font-weight: bold;
      font-size: 25px;
      margin: 8px;
    }
  }
}
