.maintxt  {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100px;
  .img-fluid{

  }
}



.text-block {
  position: absolute;
  background-color: transparent;
  left: 20px;
  top: 30px;
  color: rgb(226, 241, 245);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;

}


  .card-home1{
    background-color: #e6f3ff;
    color: aliceblue;
    margin: 3px;
    border-radius: 50%;
    position: absolute;
    top: 17vh;
    left: 85vh;
    color: black;
    .home-text{
      font-weight: bold;
      font-size: 13px;
      margin: 8px;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
  .card-home2{
    background-color: #c8facd;
    color: aliceblue;
    border-radius: 50%;
    position: absolute;
    top: 52vh;
    left: 45vh;
    color: black;
    .home-text{
      font-weight: bold;
      font-size: 13px;
      margin: 8px;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
  .card-home3{
    background-color: #ffe4d4;
    color: aliceblue;
    border-radius: 50%;
    position: absolute;
    top: 52vh;
    left: 127vh;
    color: black;
    .home-text{
      font-weight: bold;
      font-size: 13px;
      margin: 8px;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  .home-container {
    position: relative;
  }

  div.box {
    --s:250px;  /*Size of the circle */
    --p:15px;  /* padding */

    height: var(--s);
    width:  var(--s);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    h4 {
      font-weight: 400;
      font-style: italic;
    }
  }
  .box i,
  .box::before {
    content: '';
    float: left;
    height:100%;
    width: 50%;
    shape-outside: radial-gradient(farthest-side at right, transparent calc(100% - var(--p)), #fff 0);
  }
  .box i {
    float: right;
    shape-outside: radial-gradient(farthest-side at left,  transparent calc(100% - var(--p)), #fff 0);
  }
