.maintxt  {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100px;
  .img-fluid{

  }
}



.text-block {
  position: absolute;
  background-color: transparent;
  left: 20px;
  top: 30px;
  color: rgb(226, 241, 245);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;

}


.container-home{

  display: flex;
  flex-direction:row;
  justify-content: space-between;


  .card-home1{
    background-color:rgb(250, 137, 88);
    border-radius: 10px;
    color: aliceblue;
    margin: 3px;

    .home-text{
      font-weight: bold;
      font-size: 25px;
      margin: 8px;
    }
  }
  .card-home2{
    background-color: rgb(129, 217, 249);
    border-radius: 10px;
    color: aliceblue;
    .home-text{
      font-weight: bold;
      font-size: 25px;
      margin: 8px;
    }
  }
  .card-home3{
    background-color: rgb(196, 210, 15);
    border-radius: 10px;
    color: aliceblue;
    .home-text{
      font-weight: bold;
      font-size: 25px;
      margin: 8px;
    }
  }
}
