.maintxt  {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 580px;
  .img-fluid{

  }
}



.text-block {
  position: absolute;
  left: 20px;
  bottom: 30px;
  background: rgba(255, 252, 252, 0.5);
  color: rgb(24, 19, 22);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;

}
