#show-card-items{
  position:relative;
  margin-top: 30px;
  justify-content:space-between;
  align-items: center;
  background: rgb(237, 245, 255);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.295);
  width:100%;
  height: 100%;

  .back-items{
    position: absolute;
    padding: 2px;
    bottom: -44px;
    left: 0px;
    font-weight: bold;
    background-color: #9ac6ea78;
    color: black;
    height: 32px;
    width: 150px;
    border: 1px solid #7392ad;
    background-color:#9ac6ea78 ;
    opacity: 0.7;
    border-radius: 3px;
    &:hover{
      opacity: 1;
    }
  }
  }
.items-butons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-weight: 300;
  margin-top: 49px;
  text-align: center;
  .edit-btn{
    color: black;
    border: 3px solid;
    background-color:#9ac6ea78 ;
    opacity: 0.7;
    font-weight: bold;
    width: 120px;
    padding: 3px;
  }
  .delete-btn{
    color: black;
    border: 3px solid #9ac6ea78;
    opacity: 0.7;
    margin-right: 20px;
    font-weight: bold;
    width: 120px;
    padding: 3px;
  }
  .reserve{
    color: black;
    border: 1px solid #7392ad ;
    background-color:#9ac6ea78 ;
    opacity: 0.7;
    margin-left: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    width: 150px;
    padding: 3px;
    &:hover{
      opacity:1;
    }
  }
}
  .card-body-items{
    padding-top: 20px;
    font-weight: 300;
    .card-items-subtitle{
      font-weight: bold;
      padding-bottom: 20px;
      font-size: 2.5rem;
    }
    .card-text{
      font-size: 1.5rem;
    }
  }
.items-pic{
  .items-photo {
    margin-top: 8px;
    margin-left: 15px;
    border-radius: 5px 10px 0 0;
    max-width: 94%;
  }
}
.description{
  .card-text-description{
    font-weight: bold;
    font-size:1.8rem ;
  }
  .item-desc{
    font-size: 1.5rem;
    margin: 5px;
  }
}
