#show-card-items{
  position:relative;
  margin-top: 30px;
  justify-content:space-between;
  align-items: center;
  background: rgb(237, 245, 255);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.295);
  width:100%;
  height: 100%;
  .back-items{
    position: absolute;
    padding: 2px;
    bottom: -44px;
    left: -23px;
    background-color: #F6F6F6;
    color: black;
    height: 32px;
    width: 215px;
    border: 2px solid rgb(252, 137, 91) ;
    background-color:rgb(247, 136, 92) ;
    opacity: 0.7;
    &:hover{
      opacity: 1;
    }
  }
  }
.items-butons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-weight: 300;
  margin-top: 75px;
  text-align: center;
  .edit-btn{
    color: black;
    border: 3px solid rgb(123, 185, 239);
    opacity: 0.7;
    font-weight: bold;
    width: 120px;
    padding: 3px;
  }
  .delete-btn{
    color: black;
    border: 3px solid rgb(123, 185, 239);
    opacity: 0.7;
    margin-right: 20px;
    font-weight: bold;
    width: 120px;
    padding: 3px;
  }
  .reserve{
    color: black;
    border: 3px solid rgb(123, 185, 239);
    opacity: 0.7;
    margin-left: 20px;
    font-weight: bold;
    width: 120px;
    padding: 3px;
  }
}
  .card-body-items{
    padding-top: 20px;
    font-weight: 300;
    .card-items-subtitle{
      font-weight: bold;
      padding-bottom: 20px;
      font-size: 2.5rem;
    }
    .card-text{
      font-size: 1.5rem;
    }
  }
.items-pic{
  .items-photo {
    margin-top: 8px;
    margin-left: 15px;
    max-width: 50%;
    border-radius: 5px 10px 0 0;
    max-width: 94%;
  }
}
.descrcription{
  font-size:1.5rem;
  .card-text-description{
    font-weight: bold;
  }
}
