.item-card-show {
  background: #E6F3FF;
  border: 1px solid #D9D9D9;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 3rem;
  border-radius: 0px;
  box-shadow: #CBBFBB 1px 1px 10px;
  height: 350px;
  overflow: hidden;
}
.custom-card-body {
  height: 245px;
}
.btn-item-show {
  margin: 35px 20px 20px 55px;
  border: 5px solid;
  border-image-slice: 1;
  background: linear-gradient(to left top, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0.8) 90%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source: linear-gradient(to left top, #D9D9D9 10%, #D9D9D9 90%) !important;
  text-decoration: none;
  transition: all .4s ease;
  box-shadow: #CBBFBB 1px 1px 10px;
}
.btn-item-show:hover, .btn-item-index:focus {
  background: linear-gradient(to left bottom, #E6F3FF 10%, #ADD8E6 90%) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: black !important;
  border: 5px solid #fff !important;
  box-shadow: #222 1px 0 10px;
  text-decoration: none;
}
.card-title {
  font-family: 'Nunito';
}
.card-img-right {
  height: 349px;
  width: 423px;
  border: 3px solid;
  border-image-slice: 1;
  background-color: #E6F3FF;
  border-image-source: linear-gradient(to left top, #D9D9D9 10%, #D9D9D9 90%) !important;
  box-shadow: #CBBFBB 1px 1px 10px;
}
.card-body {
  font-family: 'Nunito';
}
.custom-btn-item-show {
  border: 6px solid;
  border-image-slice: 1;
  background-color: #E6F3FF;
  border-image-source: linear-gradient(to left top, #D9D9D9 10%, #D9D9D9 90%) !important;
  text-decoration: none;
  padding: 12px;
  transition: all .4s ease;
  text-decoration: none;
  color: black;
  box-shadow: #CBBFBB 1px 1px 10px;
 }
.custom-btn-item-show:hover, .custom-btn-item-show:focus {
  background: linear-gradient(to left bottom, #E6F3FF 10%, #ADD8E6 90%) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.8) !important;
  border: 5px solid #fff !important;
  box-shadow: #222 1px 0 10px;
  text-decoration: none;
}
