.maintxt  {
  position: relative;
}



.text-block {
  position: absolute;
  left: 20px;
  bottom: 30px;
  background: rgba(219, 206, 206, 0.3);
  color: rgb(24, 19, 22);
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Alkatra', cursive;
}
