.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.items_marker_pill {
  background-color: #fff9d6 !important;
  color: #2f4f4f !important;
}

.events_marker_pill {
  background-color: #e6f3ff !important;
  color: #2f4f4f !important;
}
