.item-heading-index {
  font-family: 'Lobster Two', cursive;
  text-shadow: #00abb1 1px 1px 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

p {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}
